/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 nov. 2014, 13:41:52
    Author     : bouhours
*/

@font-face { 
			font-family: 'Open Sans';
			src: url('Opensans/OpenSans-Light.ttf');
		}

body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-weight: 300;
        color: #2f2e31;
}

#titregeneral {
        text-align: center;
        height: 130px;
        background-color: #B8CFE5;
}

a {
        text-decoration: none;
        color: #6aa6d7;
}

h3 {
        color: #141414;
        font-size: 30px;
        font-weight: 300;
}

h5 {
        color: #141414;
        font-weight: 300;
        font-size: 20px;
}

h6 {
        color: #141414 ;
        font-size: 25px;
        font-weight: 300;
}

.osys {
        color: #fc6b6b;
}

.tab {
        margin-left: 2%;
}

.gris {
        background-color: white;
}

.bold {
        font-weight: bold;
}

.center {
        text-align: center;
}

.boldC {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
}

.retourSom {
        text-decoration: none;
        color: #6aa6d7;
}

.underline {
        text-decoration: underline;
}

.contentWidth {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 15px;
}

#chapitre a {
        color: #6aa6d7;
        margin-bottom: 15px;
}

#titregeneral h1 {
        font-size: 36px;
        font-weight: 300;
        color: #3872A8;
}

#titregeneral h5 {
        font-size: 20px;
        color: #3872A8;
        font-weight: 400;
}

#content {
        background-color: white;	
}

#dateMaj {
        height: 30px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #6aa6d7;
}

#sommaire h3 {
        font-size: 30px;
        color: #141414;
        font-weight: 300;
}

#sommaire .somGen {
        font-size: 22px;
        margin-left: 5%;
}

#sommaire .somSousGen {
        font-size: 20px;
        margin-left: 10%;
}

#sommaire .somSousSousGen {
        font-size: 18px;	
        margin-left: 15%;
}
