/*
 * $Id: f_checkButton.css,v 1.8 2007/05/07 08:48:50 oeuillot Exp $
 */

/**
 *
 * @class f_checkButton
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.8 $ $Date: 2007/05/07 08:48:50 $ 
 */
 
.f_checkButton {
	-moz-user-select: none;
	user-select: none;
	text-align: left;
	vertical-align: baseline;
	display: inline;
}
 
.f_checkButton_input {
	vertical-align: middle;
}

.f_checkButton_text {
	vertical-align: middle;
	display: inline;
	cursor: pointer;
}

.f_checkButton_disabled .f_checkButton_text {
	color: #A1A192;
	cursor: default;
}