/*
 * $Id: f_clientStorage.css,v 1.1 2007/03/23 16:26:43 oeuillot Exp $
 */

/**
 *
 * @class f_clientStorage
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.1 $ $Date: 2007/03/23 16:26:43 $ 
 */
 
.f_userDataClientStorage {
	position: absolute;
	display: none;
	behavior: url(#default#userdata);
}

.f_flashClientStorage {
	position: absolute;
	display: none;
}

