/*
 * $Id: f_dateEntry.css,v 1.7 2007/03/23 16:26:43 oeuillot Exp $
 */

/**
 *
 * @class f_dateEntry
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.7 $ $Date: 2007/03/23 16:26:43 $ 
 */
 
.f_dateEntry {
	margin: 0;
	border: 1px solid #7F9DB9;
	text-align: left;
	display: inline;
}

.f_dateEntry_input {
	border: 0;
	background-color: transparent;
	text-align: right;
	margin: 0;
}

.f_dateEntry_hh,
.f_dateEntry_mm,
.f_dateEntry_ss,
.f_dateEntry_dd,
.f_dateEntry_MM,
.f_dateEntry_yy {
	width: 16px;
} 

.f_dateEntry_SSS {
	width: 24px;
}

.f_dateEntry_yyyy {
	width: 32px;
}


/*
.f_dateEntry_error {
	color: red;
}
*/
