/*
 * $Id: f_dataGrid.css,v 1.6 2007/03/23 16:26:43 oeuillot Exp $
 */

/**
 *
 * @class f_dataGrid
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.6 $ $Date: 2007/03/23 16:26:43 $ 
 */

.f_dataGrid_row {
	height: 20px;
	-moz-user-select: none;
}


.f_dataGrid_cell_shadow,
.f_dataGrid_cell {
	empty-cells: show;
	padding: 1px 4px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
 
.f_dataGrid_cell {
	border-left: 1px solid #D9D9D9;
	padding-left: 3px;
}
 
 