/*
 * $Id: f_fieldSet.css,v 1.4 2006/10/13 18:04:38 oeuillot Exp $
 */

/**
 *
 * @class f_fieldSet
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.4 $ $Date: 2006/10/13 18:04:38 $ 
 */

.f_fieldSet {
	text-align: left;
	vertical-align: baseline;
}

/*
.f_fieldSet_body {
	top: 0;
	left: 0;
}

.f_fieldSet_cellBody {
	position:relative;
}
*/



