/*
 * $Id: f_imageResetButton.css,v 1.5 2007/01/12 15:40:48 oeuillot Exp $
 */

/**
 *
 * @class f_imageResetButton
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.5 $ $Date: 2007/01/12 15:40:48 $ 
 */
 
.f_imageResetButton_image,
.f_imageResetButton_text,
.f_imageResetButton {
	border: 0;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	-moz-user-focus: normal;
	user-select: none;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: baseline;
}

.f_imageResetButton  {
	cursor: pointer;
}

.f_imageResetButton_disabled,
.f_imageResetButton_disabled INPUT{
	-moz-user-focus: ignore;
	cursor: default;
}

.f_imageResetButton_disabled .f_imageResetButton_text {
	color: #A1A192;
}

/*
.f_imageResetButton_text {
	border: 1px solid transparent;
}

.f_imageResetButton_focus .f_imageResetButton_text,
.f_imageResetButton_selected_focus .f_imageResetButton_text {
	border: 1px dotted black;
}
*/

