/*
 * $Id: f_keyLabel.css,v 1.2 2010/08/10 08:32:21 oeuillot Exp $
 */

/**
 *
 * @class f_keyLabel
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.2 $ $Date: 2010/08/10 08:32:21 $ 
 */
 
.f_keyLabel,
.f_keyLabel_item {
	-moz-box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.f_keyLabel {
}

.f_keyLabel_item {
	background: transparent url("keyLabel/separator.gif") left center no-repeat;
	padding-left: 10px;

	white-space: nowrap;
	float: left;
}

.f_keyLabel_item_first {
	background: none;
	padding-left: 0;
}

.f_keyLabel_item_last {
}
 
