/*
 * $Id: f_passwordEntry.css,v 1.2 2006/09/20 17:55:24 oeuillot Exp $
 */

/**
 *
 * @class f_passwordEntry
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.2 $ $Date: 2006/09/20 17:55:24 $ 
 */
 
INPUT.f_password {
	margin: 0px;
}
INPUT.f_password_disabled {
	border: 1px solid black;
	margin: 1px;
}
INPUT.f_password_readonly {
	border: 1px solid black;
	margin: 1px;
}

LABEL.f_password_required {
	color: red;
}
