/*
 * $Id: f_popup.css,v 1.1 2007/10/06 14:49:19 oeuillot Exp $
 */

/**
 *
 * @class f_popup
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.1 $ $Date: 2007/10/06 14:49:19 $ 
 */
 
.f_popup_iframe {
	position: absolute;
	visibility: hidden;
	z-index: 2000;
}

.f_popup_iframe_body {
	padding: 0;
	border: 0;
	margin: 0;
}
