/*
 * $Id: f_shellManager.css,v 1.1 2007/09/27 12:14:06 oeuillot Exp $
 */

/**
 *
 * @class f_shellManager
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.1 $ $Date: 2007/09/27 12:14:06 $ 
 */
 
.f_shellManager_background {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position: absolute;
    z-index: 99; 
}

.f_shellManager_background_transparent {
    background-color: black; 
    opacity: 0.0;
    filter: alpha(opacity=0);
}

.f_shellManager_background_light {
    background-color: black; 
    opacity: 0.08;
    filter: alpha(opacity=8);
}

.f_shellManager_background_greyed {
    background-color: black; 
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.f_shellManager_background_opaque {
    background-color: blue; 
}
 