/*
 * $Id: f_spinner.css,v 1.5 2007/01/12 15:40:48 oeuillot Exp $
 */

/**
 *
 * @class f_spinner
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.5 $ $Date: 2007/01/12 15:40:48 $ 
 */

.f_spinner_up,
.f_spinner_down {
	background: transparent url('spinner/buttons.gif') no-repeat 0 0;
	-moz-user-select: none;
	user-select: none;
	text-align: left;
	vertical-align: baseline;

	cursor: pointer; 
}

.f_spinner_down {
	background-position: 0 -10px;
}
.f_spinner_up_hover {
	background-position: 0 -20px;
}
.f_spinner_down_hover {
	background-position: 0 -30px;
}
.f_spinner_up_pushed {
	background-position: 0 -40px;	
}
.f_spinner_down_pushed {
	background-position: 0 -50px;
}
.f_spinner_up_disabled {
	background-position: 0 -60px;
	cursor: default;
}
.f_spinner_down_disabled {
	background-position: 0 -70px;
	cursor: default;
}
