/*
 * $Id: f_textEntry.css,v 1.7 2008/09/09 12:45:49 oeuillot Exp $
 */

/**
 *
 * @class f_textEntry
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.7 $ $Date: 2008/09/09 12:45:49 $ 
 */
 

.f_textEntry {
	margin: 0;
}

.f_textEntry_disabled {
	border: 1px solid black;
	margin: 1px;
}

.f_textEntry_readonly {
	border: 1px solid black;
	margin: 1px;
}

.f_textEntry_empty_message {
	color: #888;
	font-style: italic;
}

/*
.f_textEntry_error {
	color: red;
}
*/
