/*
 * $Id: f_timeEntry.css,v 1.5 2007/03/23 16:26:43 oeuillot Exp $
 */

/**
 *
 * @class f_timeEntry
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.5 $ $Date: 2007/03/23 16:26:43 $ 
 */
 
.f_timeEntry {
	margin: 0;
	border: 1px solid #7F9DB9;
	text-align: left;
	display: inline;
}

.f_timeEntry_input {
	border: 0;
	background-color: transparent;
	text-align: right;
	margin: 0;
}

.f_timeEntry_HH,
.f_timeEntry_mm,
.f_timeEntry_ss {
	width: 16px;
} 

.f_timeEntry_SSS {
	width: 24px;
}


/*
.f_timeEntry_error {
	color: red;
}
*/
