/*
 * $Id: f_waiting.css,v 1.6 2007/01/24 21:38:18 oeuillot Exp $
 */

/**
 *
 * @class f_waiting
 *
 * @author Olivier Oeuillot (latest modification by $Author: oeuillot $)
 * @version $Revision: 1.6 $ $Date: 2007/01/24 21:38:18 $ 
 */
 
.f_waiting {
	display: none;
	overflow: hidden;

	width: 100px;
	height: 24px;
	padding-left: 24px;	

	background: transparent url("waiting/waiting2.gif") no-repeat left center;

	vertical-align: middle;
	text-align: left;
	
	font: normal normal normal 8pt Tahoma, Verdana, Arial, Helvetica, sans-serif normal;

	line-height: 24px;
}

.f_waiting_absolute {
	position: absolute;
	z-index: 999;
}

.f_waiting_inline {
}

.f_waiting_error {
	color: #B00;
}

