P { 
   margin-left:5.75pt; 
   margin-right:6.50pt; 
   margin-top:4.00pt; 
   margin-bottom:1; 
   text-align:left; 
   font-family:Arial; 
   font-size:8pt;  }
H1 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:8pt; 
    font-weight:bold;  }
H2 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:8pt; 
    font-weight:bold;  }
H3 { 
    margin-left:5.75pt; 
    margin-right:6.50pt; 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:left; 
    font-family:Arial; 
    font-size:8pt; 
    font-weight:bold;  }
H4 { 
    margin-left:18.00pt; 
    margin-right:6.50pt; 
    margin-top:4.00pt; 
    margin-bottom:1; 
    text-align:left; 
    font-family:Arial; 
    font-size:12pt; 
    text-decoration:underline; 
    font-weight:bold;  }
H5 { 
    margin-left:36.00pt; 
    margin-right:6.50pt; 
    margin-top:4.00pt; 
    margin-bottom:1; 
    text-align:left; 
    font-family:Arial; 
    font-size:8pt; 
    font-weight:bold;  }
H6 { 
    margin-left:36.00pt; 
    margin-right:6.50pt; 
    margin-top:4.00pt; 
    margin-bottom:1; 
    text-align:left; 
    font-family:Arial; 
    font-size:8pt; 
    text-decoration:underline; 
    font-weight:bold;  }
H6.Heading7 { 
             margin-left:36.00pt; 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             text-align:left; 
             font-family:Arial; 
             font-size:8pt; 
             font-style:italic;  }
H6.Heading8 { 
             margin-left:36.00pt; 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             text-align:left; 
             font-family:Arial; 
             font-size:8pt; 
             font-style:italic;  }
H6.Heading9 { 
             margin-left:36.00pt; 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             text-align:left; 
             font-family:Arial; 
             font-size:8pt; 
             font-style:italic;  }
P.footnote-text { 
                 margin-left:5.75pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:8pt;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:8pt;  }
P.nscba { 
         margin-left:24.00pt; 
         margin-right:6.50pt; 
         margin-top:4.00pt; 
         margin-bottom:1; 
         text-indent:0; 
         text-align:left; 
         font-family:Helvetica; 
         font-size:12pt;  }
P.j { 
     margin-left:12.00pt; 
     margin-right:6.50pt; 
     margin-top:4.00pt; 
     margin-bottom:1.00pt; 
     text-indent:0; 
     text-align:left; 
     font-family:Helvetica; 
     font-size:12pt;  }
P.ij { 
      margin-left:24.00pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:1.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.btb { 
       margin-left:5.75pt; 
       margin-right:6.50pt; 
       margin-top:4.00pt; 
       margin-bottom:1.00pt; 
       text-align:left; 
       font-family:Helvetica; 
       font-size:12pt;  }
P.ctcb { 
        margin-left:120.00pt; 
        margin-right:6.50pt; 
        margin-top:1.00pt; 
        margin-bottom:1.00pt; 
        text-indent:0; 
        text-align:left; 
        font-family:Helvetica; 
        font-size:8pt;  }
P.ns { 
      margin-left:24.00pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:2.00pt; 
      text-indent:0; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.TT { 
      margin-left:5.75pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:6.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:14pt;  }
P.crtj { 
        margin-left:120.00pt; 
        margin-right:6.50pt; 
        margin-top:4.00pt; 
        margin-bottom:1.00pt; 
        text-indent:0; 
        text-align:left; 
        font-family:Helvetica; 
        font-size:12pt;  }
P.nsca { 
        margin-left:24.00pt; 
        margin-right:6.50pt; 
        margin-top:4.00pt; 
        margin-bottom:1; 
        text-indent:0; 
        text-align:left; 
        font-family:Helvetica; 
        font-size:12pt;  }
P.bt { 
      margin-left:5.75pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:1.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.Hf { 
      margin-left:12.00pt; 
      margin-right:6.50pt; 
      margin-top:6.00pt; 
      margin-bottom:2.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.Hs { 
      margin-left:12.00pt; 
      margin-right:6.50pt; 
      margin-top:6.00pt; 
      margin-bottom:2.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.RT { 
      margin-left:24.00pt; 
      margin-right:6.50pt; 
      margin-top:6.00pt; 
      margin-bottom:2.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.c { 
     margin-left:108.00pt; 
     margin-right:6.50pt; 
     margin-top:12.00pt; 
     margin-bottom:4.00pt; 
     text-indent:0; 
     text-align:left; 
     font-family:Helvetica; 
     font-size:12pt;  }
P.ct { 
      margin-left:108.00pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:1.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.it { 
      margin-left:12.00pt; 
      margin-right:6.50pt; 
      margin-top:4.00pt; 
      margin-bottom:1.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.nsct { 
        margin-left:24.00pt; 
        margin-right:6.50pt; 
        margin-top:4.00pt; 
        margin-bottom:1; 
        text-align:left; 
        font-family:Helvetica; 
        font-size:8pt;  }
P.nscb { 
        margin-left:20.00pt; 
        margin-right:6.50pt; 
        margin-top:4.00pt; 
        margin-bottom:2.00pt; 
        text-indent:0; 
        text-align:left; 
        font-family:Helvetica; 
        font-size:12pt;  }
P.HC2 { 
       margin-left:144.00pt; 
       margin-right:6.50pt; 
       margin-top:6.00pt; 
       margin-bottom:2.00pt; 
       text-indent:0; 
       text-align:left; 
       font-family:Helvetica; 
       font-size:12pt;  }
P.C2 { 
      margin-left:144.00pt; 
      margin-right:6.50pt; 
      margin-top:6.00pt; 
      margin-bottom:1.00pt; 
      text-indent:0; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.ctc { 
       margin-left:120.00pt; 
       margin-right:6.50pt; 
       margin-top:4.00pt; 
       margin-bottom:1.00pt; 
       text-indent:0; 
       text-align:left; 
       font-family:Helvetica; 
       font-size:8pt;  }
P.crt { 
       margin-left:108.00pt; 
       margin-right:6.50pt; 
       margin-top:8.00pt; 
       margin-bottom:1; 
       text-align:left; 
       font-family:Helvetica; 
       font-size:12pt;  }
P.or { 
      margin-left:24.00pt; 
      margin-right:6.50pt; 
      margin-top:1.00pt; 
      margin-bottom:2.00pt; 
      text-align:left; 
      font-family:Helvetica; 
      font-size:12pt;  }
P.Ln1 { 
       margin-left:18.00pt; 
       margin-right:6.50pt; 
       margin-top:2.00pt; 
       margin-bottom:2.00pt; 
       text-indent:0; 
       text-align:left; 
       font-family:MS Sans Serif; 
       font-size:8pt;  }
P.-Intro { 
          margin-left:5.75pt; 
          margin-right:6.50pt; 
          margin-top:4.00pt; 
          margin-bottom:4.00pt; 
          text-align:left; 
          font-family:MS Sans Serif; 
          font-size:8pt;  }
P.-Title { 
          margin-left:5.75pt; 
          margin-right:6.50pt; 
          margin-top:4.00pt; 
          margin-bottom:4.00pt; 
          text-align:left; 
          font-family:MS Sans Serif; 
          font-size:8pt; 
          font-weight:bold;  }
P.-Jl { 
       margin-left:18.00pt; 
       margin-top:4.00pt; 
       margin-bottom:1; 
       text-indent:0; 
       text-align:left; 
       font-family:MS Sans Serif; 
       font-size:10pt;  }
P.Lp1 { 
       margin-left:18.00pt; 
       margin-top:2.00pt; 
       margin-bottom:2.00pt; 
       text-align:left; 
       font-family:MS Sans Serif; 
       font-size:10pt;  }
P.Tph { 
       margin-left:95.75pt; 
       margin-right:6.50pt; 
       margin-top:3.00pt; 
       margin-bottom:1; 
       text-indent:0; 
       text-align:left; 
       line-height:12.00pt; 
       font-family:MS Sans Serif; 
       font-size:8pt;  }
P.Proch { 
         margin-left:5.75pt; 
         margin-top:6.00pt; 
         margin-bottom:4.00pt; 
         text-align:left; 
         font-family:MS Sans Serif; 
         font-size:10pt; 
         font-weight:bold;  }
P.Normalien { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             text-align:left; 
             font-family:Helv; 
             font-size:8pt; 
             font-weight:bold;  }
P.Description { 
               margin-left:5.75pt; 
               margin-right:6.50pt; 
               margin-top:4.00pt; 
               margin-bottom:1; 
               text-align:left; 
               font-family:Helv; 
               font-size:9pt;  }
P.Exemple { 
           margin-left:5.75pt; 
           margin-right:6.50pt; 
           margin-top:4.00pt; 
           margin-bottom:1; 
           text-align:left; 
           font-family:Courier; 
           font-size:9pt;  }
P.Body-Text { 
             margin-left:5.75pt; 
             margin-right:6.50pt; 
             margin-top:4.00pt; 
             margin-bottom:1; 
             text-align:left; 
             font-family:Helv; 
             font-size:8pt; 
             color:black;  }
P.Body-Text-Indent-2 { 
                      margin-left:28.35pt; 
                      margin-right:6.50pt; 
                      margin-top:4.00pt; 
                      margin-bottom:1; 
                      text-align:left; 
                      font-family:Helv; 
                      font-size:8pt;  }
P.Document-Map { 
                margin-left:5.75pt; 
                margin-right:6.50pt; 
                margin-top:4.00pt; 
                margin-bottom:1; 
                text-align:left; 
                background-color:navy; 
                font-family:Tahoma; 
                font-size:8pt;  }
P.Tip-Note-Heading { 
                    margin-left:5.75pt; 
                    margin-right:6.50pt; 
                    margin-top:6.00pt; 
                    margin-bottom:1; 
                    text-align:left; 
                    font-family:Arial; 
                    font-size:8pt; 
                    font-weight:bold;  }
P.Tip-Note-Text { 
                 margin-left:15.10pt; 
                 margin-right:6.50pt; 
                 margin-top:4.00pt; 
                 margin-bottom:1; 
                 text-align:left; 
                 font-family:Arial; 
                 font-size:8pt;  }
P.Tip-Note-Text-Bulleted { 
                          margin-left:15.10pt; 
                          margin-right:6.50pt; 
                          margin-top:4.00pt; 
                          margin-bottom:1; 
                          text-indent:0; 
                          text-align:left; 
                          font-family:Arial; 
                          font-size:8pt;  }
P.Topic-Text-Bulleted { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       text-align:left; 
                       font-family:Arial; 
                       font-size:8pt;  }
P.Topic-Text-Indent { 
                     margin-left:15.10pt; 
                     margin-right:6.50pt; 
                     margin-top:4.00pt; 
                     margin-bottom:1; 
                     text-align:left; 
                     font-family:Arial; 
                     font-size:8pt;  }
P.Topic-Text-Numbered { 
                       margin-left:15.10pt; 
                       margin-right:6.50pt; 
                       margin-top:4.00pt; 
                       margin-bottom:1; 
                       text-indent:0; 
                       text-align:left; 
                       font-family:Arial; 
                       font-size:8pt;  }
P.Topic-Text-Onestep { 
                      margin-left:15.10pt; 
                      margin-right:6.50pt; 
                      margin-top:4.00pt; 
                      margin-bottom:1; 
                      text-indent:0; 
                      text-align:left; 
                      font-family:Arial; 
                      font-size:8pt;  }
BODY { 
      font-family:Arial; 
      font-size:8pt; 
      background-color:white;  }
ol ol { 
       margin-top:4px;  }
ol ul { 
       margin-top:4px;  }
ul ul { 
       margin-top:4px;  }
ul ol { 
       margin-top:4px;  }
